
      body { background-color: #003366}
      #wrapper {
        /* width: 960px; */
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }
      #articles {
        /* display: inline-block; */
        overflow: auto;
        /* width: 60%; */
        height: 400px;
        background-color: white;
        display: none;
      }
      #foxArticles {
        overflow: auto;
        background-color: white;
      }

      .panel {
        padding: 5;

      }

      #notes {
        /* float: right; */
        /* width: 30%; */
        background-color: lightblue;
      }
      textarea, input {
        /* display: block; */
        /* width: 100%; */
        background-color: white;
      }
      input {
        height: 30px;
        font-size: 20px;
        background-color: white;
      }
      textarea {
        height: 200px;
        font-size: 18px;
        background-color: white;
      }

      #article-row {
        padding-top: 10px;
      }